# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

# Forge broadcast outputs
broadcast/

# Local outputs/logs
output.txt
*.log

# node dependencies if used
node_modules/
